
.header-containar{
    width: 100%;
    height: 100vh;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-image: url('assest/international-day-education-scene-with-fantasy-style.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header-containar .content{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 36px;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    /* background-color: rgba(12, 17, 31, 0.8); */
    padding: 50px;
}

.header-containar .content .content_btn{
    display: flex;
    gap: 45px;
    

}
.header-containar .content h2{
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header-containar .content .content_btn a{
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgb(45, 212, 191);
    color: #000;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    transition: box-shadow 0.3s color 0.3s ease-in-out;
    border: #07e0e7 1px solid;
    position: relative;
}
.header-containar .content .content_btn a:hover{
    box-shadow: rgb(50, 153, 139) 0px 5px 5px 0px;
    color: #fff;
}



