
.header-containar{
    width: 100%;
    height: 150vh;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url('assest/Reg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header-containar .content{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 36px;
    color: #fff;
    border-radius: 30px;
    width: 1000px;
    background-color: rgba(15, 23, 42, 0.8);
    padding: 50px;
}

.header-containar .content form{
    display: flex;
    flex-direction: column;
}

.header-containar .content h2{
    text-align: center;
    margin-bottom: 20px;
}
.header-containar .content .subtitle{
    text-align: center;
    margin-bottom: 12px;
    margin-bottom: 10px;
    font-size: 24px;
}



.header-containar .content form input{
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    background-color: rgb(1, 12, 37);
    color: #fff;
}

/* .header-containar .content form label{
    margin-bottom: 10px;
} */

.header-containar .content form button{
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: rgb(45, 212, 191);
    color: #faf7f7;
    font-weight: bold;
    margin-bottom: 10px;
}
.header-containar .content form button:hover{
    background-color: rgb(32, 177, 157);
    color: #fff;
    cursor: pointer;
}

.header-containar .content form .checkbox{
    display: block;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.header-containar .content form a, p{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}



